#map {
    height: 400px;
    width: 100%;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .btn {
    margin-top: auto;
  }
  