.modal-header {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dc7f45;
    color: #dc7f45;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-body h5 {
    color: #dc7f45;
  }
  
  .modal-body p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  #bookInfoLink {
    text-decoration: none;
    color: #dc7f45;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
  
  #bookInfoLink:hover {
    color: #a8521d;
  }
  
  .modal-footer {
    border-top: 1px solid #ddd;
  }
  
  .modal-footer .btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
  }
  
  .modal-footer .btn:hover {
    background-color: #c82333;
  }
  