#map {
    height: 400px;
    width: 100%;
}



.card {
    height: 100%;  
    display: flex;
    flex-direction: column;
    border-radius: 15px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    overflow: hidden;
}

.card-body {
    flex-grow: 1; /* para o conteúdo  ocupar o espaço vertical */
}

.btn {
    margin-top: auto;  
}
