body {
    background-color: #b5521456;
}

 
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-color: #f5e9dc; /* Definir uma cor de fundo */
    border-radius: 8px; /* Opcional: adicionar cantos arredondados */
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #c15009;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card-img-top {
    height: 250px;
    object-fit: cover;
    padding: 10px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.stars {
    margin-top: 10px;
}

.star {
    color: #FFD700;
}

/* Estilos para o carrossel */
.carousel-item {
    padding: 20px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

/* Animação suave para transições */
.fade-carousel .carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Estilos para a barra de busca e filtro */
.search-bar {
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-container .form-control {
    flex: 1 1 300px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
}

.search-container .btn-search {
    border: none;
    background: none;
    color: #dc7f45;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-container .form-select {
    flex: 1 1 200px;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
}

/* Loader */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #dc7f45;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Estilos para o filtro de classificação */


.sort-filter {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; /* Espaça os elementos */
    margin-bottom: 20px; /* Espaçamento inferior */
    
}

.sort-filter h2 {
    margin: 0; /* Remove margens adicionais */
}

.sort-filter .form-select {
    width: auto; /* Ajusta a largura do select */
    min-width: 200px; /* Largura mínima, ajuste conforme necessário */
}



       
        /* Estilos para a barra de busca e filtro */
         

        
