
  
  .search-bar {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .search-container .form-control {
    flex: 1;
    max-width: 300px;
    padding: 8px;
    border-radius: 20px;
    font-size: 1rem;
  }
  
  .search-container .form-select {
    max-width: 200px;
    padding: 8px;
    border-radius: 20px;
  }
  
  .search-container .btn-search {
    background-color: #dc7f45;
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .search-container .btn-search:hover {
    background-color: #b75233;
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #f5e9dc;
    border-radius: 8px;
    border: 6px solid #c15009;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-item {
    padding: 15px 0; /* Adiciona espaço entre os itens */
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    height: 100%; /* Garante que os cards fiquem alinhados */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 150px; /* Altura menor para as imagens */
    object-fit: contain; /* Garante que as imagens não sejam cortadas */
    background-color: #f5f5f5; /* Fundo neutro para imagens menores */
  }
  

 /* Botões de Paginação (proximo e anterior) */
  .container .btn-mudar {
    background-color: #dc7f45;
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: border 0.3s ease; 
}

.container .btn-mudar:hover {
    border: 2px solid #dc7f45;
    
}

 /* Botões de Paginação (numeros) */
.pagination button {
  background-color: #f0f0f0;  
  color: #333;  
  border-radius: 10px;  
  padding: 8px 15px; 
  font-size: 1rem;  
  border: 1px solid #ccc;  
  cursor: pointer;  
  transition: border 0.3s ease, background-color 0.3s ease;  
}

.pagination button:hover {
  border: 2px solid orange;  
  background-color: #ffe5b4;  
}

.pagination button.active {
  background-color: #dc7f45;  
  color: white;  
  border: none;  
}


  
  
  