.navbar-custom {
    background-color: #F4F4F4;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333333;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-nav .nav-item.home .nav-link:hover,
  .navbar-nav .nav-item.home .nav-link.active {
    background-color: #F5A473;
    color: #FFFFFF;
  }
  